<% include ../partials/header %>


<div class="container">
    
  	<div class="row">
    <div class="col-sm">
    		<h1 id="header">Welcome to <%= workspace.url %>
    			</h1>
    </div>
	</div> 

</div> 


	<table id="mainTable" class="table table-dark table-striped">
				  <thead class="thead-dark">
				    <tr>
				      <th></th>
				      <th><strong>Name</strong></th>
				    	<% allAttendees = workspace.attendeeList%> 

				    	<% attendee = allAttendees[1] %>	
				    	<%console.log(attendee)%>
				    		<%var keys = Object.keys(attendee.toJSON());%>
				    		<%keys.shift()%>
				    		<%keys.shift()%>
				    		<%keys.pop()%>
							<% keys.forEach(function(key){ %>		
				      		<th><strong><%= key %></strong></th>
				      
				    	  <%});%>

				      <th><strong>More Info</strong></th>
				    </tr>
				  </thead>
				  <tbody>

				   	<% allAttendees = workspace.attendeeList %>
				  	<% allAttendees.forEach(function(attendee, index){ %>
				    <tr>
				      <th id="indexRow" scope="row"><%= index+1 %></th>
				    		
				    		<td><%= attendee.name %></td>
				    		<%var keys = Object.keys(attendee.toJSON());%>
				    		<%keys.shift()%>
				    		<%keys.shift()%>
				    		<%keys.pop()%>

							<% keys.forEach(function(key){ %>	
							<td>
								
				    			<form class="tableForm" action="/dashlist/<%= workspace._id %>/attendees" method="POST">
								<input type="value" name="attendeeID" value="<%= attendee._id %>" hidden>
								<button id="addBtn" type="submit" name="beverage" value="add<%=key%>" class="btn btn-outline-primary btn-sm m-0 waves-effect">+</button>
							
								<%= attendee[key] %>
							
								<button id="removeBtn" type="submit" name="beverage" value="remove<%=key%>" class="btn btn-outline-primary btn-sm m-0 waves-effect">-</button>
								</div>
								</form>
							</td>

								<%});%>
				    		
				    		<td><a href="/dashlist/<%= workspace._id %>/attendees/<%= attendee._id %>" id="infoBtn" class="btn btn-outline-primary btn-sm m-0 waves-effect">More Stats</td>

				    		<form class="tableForm" action="/dashlist/<%= workspace._id %>/attendees" method="POST">
				    		<input type="value" name="attendeeID" value="<%= attendee._id %>" hidden>
							<td><button type="submit" name="beverage" value="del" id="delBtn" class="btn btn-outline-primary btn-sm m-0 waves-effect">Delete</button></td>
							</form>			
				    </tr>
				    <% }) %>
				
				  </tbody>
				</table>

			<a id="adder" href="/dashlist/<%= workspace._id %>/attendees/new">Click here to add guest<a>







<% include ../partials/footer %>